affine==2.4.0
attrs==25.3.0
certifi==2025.7.14
cffi==2.0.0
cfgrib==0.9.15.1
charset-normalizer==3.4.3
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.1
contextily==1.7.0
contourpy==1.3.2
cycler==0.12.1
defusedxml==0.7.1
dice_ml==0.12
dython==0.7.9
eccodes==2.45.0
eccodeslib==2.44.1.8
eckitlib==1.32.4.8
fckitlib==0.14.1.8
findlibs==0.1.2
fiona==1.10.1
fonttools==4.58.4
fpdf2==2.8.3
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
graphviz==0.21
idna==3.10
imbalanced-learn==0.13.0
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
lightgbm==4.6.0
llvmlite==0.44.0
matplotlib==3.10.3
matplotlib-scalebar==0.9.0
mercantile==1.2.1
met==1.0.2
mord==0.7
narwhals==2.15.0
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.0
pillow==11.2.1
plotly==6.5.2
psutil==7.0.0
pycparser==3.0
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
raiutils==0.4.2
rasterio==1.4.4
referencing==0.36.2
requests==2.32.4
rpds-py==0.27.0
scikit-learn==1.6.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1756528695706/work/dist/scipy-1.16.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=1cf2d632a81a9236e43797cdf6e762dc1940e13fdef0bb57332f4ae29295a5bc
seaborn==0.13.2
shap==0.48.0
shapely==2.1.1
six==1.17.0
sklearn-compat==0.1.3
slicer==0.0.8
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
xarray==2025.12.0
xgboost==3.0.2
xyzservices==2026.3.0
